<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- ... existing permissions ... -->

    <application
        android:label="Inkwise PDF"
        android:name=".MultiDexApplication"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/LaunchTheme"
        android:exported="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true">
        
        <!-- ... existing meta-data ... -->
        
    </application>
</manifest>